<div
	class="bg-gradient-to-b from-black from-10% via-purple-950 via-30% to-black to-90% fixed flex flex-col left-0 w-14 md:w-60 bg-black h-full text-white transition-all duration-300 border-none z-10 sidebar group gap-17"
>
	<div
		routerLink="/start"
		class="flex justify-center mt-25 tracking-wide truncate cursor-pointer"
	>
		<img class="h-9 w-9" src="images/logo.png" alt="Logo" />
		<span class="ml-2 text-2xl font-bold text-white hidden md:block">
			Graphora
		</span>
	</div>

	<div class="overflow-y-hidden flex flex-col justify-between flex-grow">
		<ul class="flex flex-col py-2 space-y-1 p-4">
			<!-- INICIO -->
			<li (click)="selected('home')">
				<a
					routerLink="'/home'"
					[ngClass]="{ 'scale-105': selectedFilter === 'home' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<fa-icon [icon]="['fas', 'house']"></fa-icon>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'home'
							}"
							class="ml-2 text-sm"
							>Inicio</span
						>
					</div>
				</a>
			</li>

			<!-- DOCUMENTOS -->
			<li (click)="selected('documents')">
				<a
					routerLink="/documents"
					[ngClass]="{ 'scale-105': selectedFilter === 'documents' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<fa-icon [icon]="['fas', 'diagram-project']"></fa-icon>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'documents'
							}"
							class="ml-2 text-sm"
							>Mis diagramas</span
						>
					</div>
				</a>
			</li>

			<!-- RECIENTES -->
			<!-- <li (click)="selected('recent', '/recent')">
        <a
          [ngClass]="{ selectedBack: selectedFilter === 'recent' }"
          class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
        >
          <span class="inline-flex justify-center items-center">
            <svg
              class="primary"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              fill="#dddddd"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 6.5a.5.5 0 00-1 0v6a.5.5 0 00.223.416l3 2a.5.5 0 00.554-.832L12 12.232V6.5z"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-1 0a8 8 0 11-16 0 8 8 0 0116 0z"
              ></path>
            </svg>
          </span>
          <div
            class="flex flex-row justify-between w-full tracking-wide truncate"
          >
            <span
              [ngClass]="{ selectedText: selectedFilter === 'recent' }"
              class="ml-2 text-sm"
              >Recientes</span
            >
          </div>
        </a>
      </li> -->

			<!-- FAVORITOS -->
			<li (click)="selected('favorites')">
				<a
					routerLink="/favorites"
					[ngClass]="{ 'scale-105': selectedFilter === 'favorites' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<fa-icon [icon]="['fas', 'star']"></fa-icon>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'favorites'
							}"
							class="ml-2 text-sm"
							>Favoritos</span
						>
					</div>
				</a>
			</li>

			<!-- COMPARTIDO CONMIGO -->
			<li (click)="selected('shared')">
				<a
					routerLink="/shared"
					[ngClass]="{ 'scale-105': selectedFilter === 'shared' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<fa-icon [icon]="['fas', 'users']"></fa-icon>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'shared'
							}"
							class="ml-2 text-sm"
							>Compartido conmigo</span
						>
					</div>
				</a>
			</li>

			<!-- Notificaciones -->
			<li (click)="selected('notifications')">
				<a
					routerLink="/notifications"
					[ngClass]="{
						'scale-105': selectedFilter === 'notifications'
					}"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<fa-icon [icon]="['fas', 'bell']"></fa-icon>
						<span
							*ngIf="notification"
							class="new-indicator font-bold h-auto text-2xl text-red-600 absolute top-px left-7"
							>•</span
						>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'notifications'
							}"
							class="ml-2 text-sm flex flex-row items-center"
							>Notificaciones
						</span>
					</div>
				</a>
			</li>

			<!-- Papelera -->
			<li (click)="selected('recyclingBin')">
				<a
					routerLink="/recyclingBin"
					[ngClass]="{
						'scale-105': selectedFilter === 'recyclingBin'
					}"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<fa-icon [icon]="['fas', 'trash']"></fa-icon>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'recyclingBin'
							}"
							class="ml-2 text-sm flex flex-row items-center"
							>Papelera
						</span>
					</div>
				</a>
			</li>
		</ul>

		<!-- Usuario -->
		<div
			class="flex flex-col md:flex-row justify-between items-center w-full p-2 mb-3"
		>
			<!-- Imagen, nombre, apellido y correo -->
			<div
				class="flex justify-center items-center md:space-x-2 space-y-3 md:space-y-0"
			>
				<div>
					<img
						class="w-8 h-8 rounded-full object-cover"
						src="/images/account.png"
						alt="avatar"
					/>
				</div>
				<div class="flex md:block justify-start flex-col items-start">
					<p class="text-sm leading-5 text-white">User Lastname</p>
					<p class="text-xs leading-3 text-gray-300">
						user&#64;gmail.com
					</p>
				</div>
			</div>

			<div
				class="flex flex-col items-center md:flex-row space-y-3 md:space-y-0"
			>
				<!-- Btn Configuraciones -->
				<a
					(click)="selected('settings')"
					routerLink="/settings"
					class="group hover:bg-white rounded hover:cursor-pointer transition duration-500 ease-in-out md:mr-3"
					[ngClass]="{ 'bg-white': selectedFilter === 'settings' }"
				>
					<fa-icon
						[icon]="'gear'"
						class="hover:text-black m-[2px]"
						[ngClass]="{
							'text-black': selectedFilter === 'settings'
						}"
					></fa-icon>
				</a>

				<!-- Btn cerrar sesion -->
				<a
					(click)="logout()"
					id="logout"
					class="group hover:bg-white rounded hover:cursor-pointer transition duration-500 ease-in-out md:mr-3"
				>
					<fa-icon
						[icon]="'arrow-right-from-bracket'"
						class="group hover:text-black m-[2px]"
					/>
				</a>
			</div>
		</div>
	</div>
</div>
