<div
	class="bg-gradient-to-b from-black from-10% via-purple-950 via-30% to-black to-90% fixed flex flex-col left-0 w-14 md:w-60 bg-black h-full text-white transition-all duration-300 border-none z-10 sidebar group gap-17"
>
	<div
		routerLink="/start"
		class="flex justify-center mt-25 tracking-wide truncate cursor-pointer"
	>
		<img class="h-9 w-9" src="images/logo.png" alt="Logo" />
		<span class="ml-2 text-2xl font-bold text-white hidden md:block">
			Graphora
		</span>
	</div>

	<div class="overflow-y-hidden flex flex-col justify-between flex-grow">
		<ul class="flex flex-col py-2 space-y-1 p-4">
			<!-- INICIO -->
			<li (click)="selected('home')">
				<a
					routerLink="'/home'"
					[ngClass]="{ 'scale-105': selectedFilter === 'home' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<svg
							class="primary text-white"
							viewBox="0 0 24 24"
							width="24"
							height="24"
							fill="#dddddd"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								stroke-width="1"
								[attr.stroke-width]="
									selectedFilter === 'home' ? '2' : '1'
								"
								d="M5.5 21.003a1.5 1.5 0 01-1.5-1.5v-8.61l-1.178.993a.5.5 0 01-.644-.765l8.856-7.458a1.5 1.5 0 011.932 0l8.856 7.458a.5.5 0 01-.644.765L20 10.894v8.61a1.5 1.5 0 01-1.5 1.5h-13zm6.178-16.575a.5.5 0 01.644 0L19 10.052v9.451a.5.5 0 01-.5.5H15v-6a1 1 0 00-1-1h-4a1 1 0 00-1 1v6H5.5a.5.5 0 01-.5-.5v-9.451l6.678-5.624zM10 20.003h4v-6h-4v6z"
							></path>
						</svg>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'home'
							}"
							class="ml-2 text-sm"
							>Inicio</span
						>
					</div>
				</a>
			</li>

			<!-- DOCUMENTOS -->
			<li (click)="selected('documents')">
				<a
					routerLink="/documents"
					[ngClass]="{ 'scale-105': selectedFilter === 'documents' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<svg
							class="primary"
							viewBox="0 0 24 24"
							width="24"
							height="24"
							fill="#dddddd"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M11.707 4l-1.56-1.56A1.5 1.5 0 009.085 2H4.5A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18H6v.5A1.5 1.5 0 007.5 20H9v.5a1.5 1.5 0 001.5 1.5h9a1.5 1.5 0 001.5-1.5v-9.207L15.707 6h-1l-1.56-1.56A1.5 1.5 0 0012.085 4h-.379zM4.5 3a.5.5 0 00-.5.5v13a.5.5 0 00.5.5H6V5.5A1.5 1.5 0 017.5 4h2.793l-.854-.854A.5.5 0 009.086 3H4.5zM7 5.5a.5.5 0 01.5-.5h4.586a.5.5 0 01.353.146l.854.854H10.5A1.5 1.5 0 009 7.5V19H7.5a.5.5 0 01-.5-.5v-13zM10.5 7a.5.5 0 00-.5.5v13a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V12h-3.5a1.5 1.5 0 01-1.5-1.5V7h-4.5zm5.5.707L19.293 11H16.5a.5.5 0 01-.5-.5V7.707z"
							></path>
						</svg>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'documents'
							}"
							class="ml-2 text-sm"
							>Mis diagramas</span
						>
					</div>
				</a>
			</li>

			<!-- RECIENTES -->
			<!-- <li (click)="selected('recent', '/recent')">
        <a
          [ngClass]="{ selectedBack: selectedFilter === 'recent' }"
          class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
        >
          <span class="inline-flex justify-center items-center">
            <svg
              class="primary"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              fill="#dddddd"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 6.5a.5.5 0 00-1 0v6a.5.5 0 00.223.416l3 2a.5.5 0 00.554-.832L12 12.232V6.5z"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-1 0a8 8 0 11-16 0 8 8 0 0116 0z"
              ></path>
            </svg>
          </span>
          <div
            class="flex flex-row justify-between w-full tracking-wide truncate"
          >
            <span
              [ngClass]="{ selectedText: selectedFilter === 'recent' }"
              class="ml-2 text-sm"
              >Recientes</span
            >
          </div>
        </a>
      </li> -->

			<!-- FAVORITOS -->
			<li (click)="selected('favorites')">
				<a
					routerLink="/favorites"
					[ngClass]="{ 'scale-105': selectedFilter === 'favorites' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<svg
							class="primary"
							fill="#dddddd"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M13.754 8.653 12 4.49l-1.754 4.164a2.001 2.001 0 0 1-1.69 1.212l-4.553.36 3.47 2.935c.57.482.819 1.24.644 1.96l-1.06 4.388 3.899-2.351a2.025 2.025 0 0 1 2.088 0l3.898 2.351-1.06-4.387a1.963 1.963 0 0 1 .646-1.961l3.47-2.934-4.554-.36a2.001 2.001 0 0 1-1.69-1.213Zm-.83-4.544c-.341-.812-1.507-.812-1.849 0L9.321 8.274a1 1 0 0 1-.845.606l-4.553.36c-.888.07-1.248 1.165-.572 1.737l3.47 2.934c.285.241.41.62.322.98l-1.06 4.388c-.206.855.736 1.531 1.497 1.073l3.898-2.351c.32-.193.723-.193 1.044 0l3.898 2.351c.76.458 1.703-.218 1.497-1.073l-1.06-4.388a.982.982 0 0 1 .322-.98l3.47-2.934c.676-.572.316-1.667-.572-1.737l-4.553-.36a1 1 0 0 1-.845-.606l-1.754-4.165Z"
								clip-rule="evenodd"
							></path>
						</svg>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'favorites'
							}"
							class="ml-2 text-sm"
							>Favoritos</span
						>
					</div>
				</a>
			</li>

			<!-- COMPARTIDO CONMIGO -->
			<li (click)="selected('shared')">
				<a
					routerLink="/shared"
					[ngClass]="{ 'scale-105': selectedFilter === 'shared' }"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="#dddddd"
							class="primary"
						>
							<path
								d="M3 5.5A1.5 1.5 0 0 1 4.5 4h7.465c.501 0 .97.25 1.248.668l1.406 2.11a.5.5 0 0 0 .416.222H19.5A1.5 1.5 0 0 1 21 8.5v9c0 .037-.001.073-.004.11V14H20V8.5a.5.5 0 0 0-.5-.5h-4.465a1.5 1.5 0 0 1-1.248-.668l-1.406-2.11A.5.5 0 0 0 11.965 5H4.5a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h5.496v1H4.5A1.5 1.5 0 0 1 3 17.5v-12Z"
							></path>
							<path
								fill-rule="evenodd"
								d="M18.506 12.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-1 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
								clip-rule="evenodd"
							></path>
							<path
								fill-rule="evenodd"
								d="M16.006 15h1.99a3 3 0 0 1 3 3v3h-10v-3a3 3 0 0 1 3-3h2.01Zm-4.01 3a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h-8v-2Z"
								clip-rule="evenodd"
							></path>
						</svg>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'shared'
							}"
							class="ml-2 text-sm"
							>Compartido conmigo</span
						>
					</div>
				</a>
			</li>

			<!-- Notificaciones -->
			<li (click)="selected('notifications')">
				<a
					routerLink="/notifications"
					[ngClass]="{
						'scale-105': selectedFilter === 'notifications'
					}"
					class="relative flex flex-row items-center h-11 text-white md:p-3 rounded-lg transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105"
				>
					<span class="inline-flex justify-center items-center">
						<svg
							[ngClass]="{
								selectedText: selectedFilter === 'notifications'
							}"
							class="w-5 h-5 fill-current text-white transition duration-200"
							class="w-5 h-5"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1"
								d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
							></path>
						</svg>
						<span
							*ngIf="notification"
							class="new-indicator font-bold h-auto text-2xl text-red-600 absolute top-px left-7"
							>•</span
						>
					</span>
					<div
						class="flex flex-row justify-between w-full tracking-wide truncate"
					>
						<span
							[ngClass]="{
								'font-bold': selectedFilter === 'notifications'
							}"
							class="ml-2 text-sm flex flex-row items-center"
							>Notificaciones
						</span>
					</div>
				</a>
			</li>
		</ul>

		<!-- Usuario -->
		<div
			class="flex flex-col md:flex-row justify-between items-center w-full p-2 mb-3"
		>
			<!-- Imagen, nombre, apellido y correo -->
			<div
				class="flex justify-center items-center md:space-x-2 space-y-3 md:space-y-0"
			>
				<div>
					<img
						class="w-8 h-8 rounded-full object-cover"
						[src]="
							 // user?.image ? user.image : 'images/userDefault.png'
						"
						alt="avatar"
					/>
				</div>
				<div *ngIf="userData$ | async as user">
					{{ user.name || "User" }}
					{{ user.lastname || "Lastname" }}
				</div>
				<!-- @if (userData$ | async as user) {
					<div
						class="flex hidden md:block justify-start flex-col items-start"
					>
						<p class="text-sm leading-5 text-white">
							{{ user.name || "User" }}
							{{ user.lastname || "Lastname" }}
						</p>
						<p class="text-xs leading-3 text-gray-300">
							{{ user.email  "user@gmail.com" }}
						</p>
					</div>
				} -->
			</div>

			<div
				class="flex flex-col items-center md:flex-row space-y-3 md:space-y-0"
			>
				<!-- Btn Configuraciones -->
				<a
					(click)="selected('settings')"
					routerLink="/settings"
					class="group hover:bg-white rounded hover:cursor-pointer transition duration-500 ease-in-out md:mr-3"
					[ngClass]="{ 'bg-white': selectedFilter === 'settings' }"
				>
					<fa-icon
						[icon]="faGear"
						class="hover:text-black m-[2px]"
						[ngClass]="{
							'text-black': selectedFilter === 'settings'
						}"
					></fa-icon>
				</a>

				<!-- Btn cerrar sesion -->
				<a
					(click)="logout()"
					id="logout"
					class="group hover:bg-white rounded hover:cursor-pointer transition duration-500 ease-in-out md:mr-3"
				>
					<fa-icon
						[icon]="faArrowRightFromBracket"
						class="group hover:text-black m-[2px]"
					/>
				</a>
			</div>
		</div>
	</div>
</div>
