<section class="bg-gradient-to-b from-black from-10% via-purple-950 via-30% to-black to-90% min-h-screen flex items-center justify-center relative">
    <!-- Logo en la esquina superior izquierda -->
    <div class="absolute top-4 left-4 flex items-center">
        <img class="w-10 h-10 mr-2" src="images/logo.png" alt="logo" (click)="goToHome()">
        <span class="text-2xl font-semibold text-white" (click)="goToHome()" >Graphora</span>
    </div>

    <div class="flex flex-col items-center px-6 py-8 mx-auto w-full max-w-md">
        <div class="w-full bg-white rounded-lg shadow dark:border xl:p-0 dark:bg-withe-200">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-purple-500 text-center">
                    Crea una cuenta!
                </h1>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-black dark:text-purple-500">Email</label>
                        <input type="email" name="email" id="email" class="bg-withe-50 border border-black text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-100 dark:border-black dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@example.com" required="">
                    </div>
                    
                    <!-- Campo de contraseña -->
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-black dark:text-purple-500">Contraseña</label>
                        <div class="relative">
                            <input 
                                [type]="showPassword ? 'text' : 'password'" 
                                name="password" 
                                formControlName="password" 
                                id="password" 
                                placeholder="••••••••" 
                                class="bg-gray-50 border border-black text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 pr-10 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                required=""
                            />
                            <button type="button" (click)="togglePasswordVisibility()" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-600">
                                <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
                            </button>
                        </div>
                    </div>

                    @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {  
                        <span class="text-red-500" [hidden]="!registerForm.get('password')?.errors?.['required']">
                            La contraseña es obligatoria.
                        </span>
                        <span class="text-red-500" [hidden]="registerForm.get('password')?.errors?.['minlength']">
                            La contraseña debe tener al menos 8 caracteres.
                        </span>
                        <span class="text-red-500" [hidden]="registerForm.get('password')?.errors?.['pattern']">
                            La contraseña debe contener al menos una letra mayúscula y un número.
                        </span>
                    }

                    <!-- Campo de confirmación de contraseña -->
                    <div>
                        <label for="confirm-password" class="block mb-2 text-sm font-medium text-black dark:text-purple-500">Confirmar Contraseña</label>
                        <div class="relative">
                            <input 
                                [type]="showConfirmPassword ? 'text' : 'password'" 
                                name="confirm-password" 
                                formControlName="confirmPassword" 
                                id="confirm-password" 
                                placeholder="••••••••" 
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 pr-10 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                required=""
                            />
                            <button type="button" (click)="toggleConfirmPasswordVisibility()" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-600">
                                <fa-icon [icon]="showConfirmPassword ? faEyeSlash : faEye"></fa-icon>
                            </button>
                        </div>
                    </div>

                    @if (registerForm.errors?.['passwordsMismatch']) {
                        <div>
                            <span class="text-red-500">Las contraseñas no coinciden</span>
                        </div>
                    }

                    <button 
                        type="submit" 
                        [disabled]="registerForm.invalid"
                        class="w-full text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none 
                        focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
                        dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-primary-800
                        disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:bg-gray-400">
                        Crear cuenta
                    </button>
                               
                    <p class="text-sm font-light text-purple-500 dark:text-gray-400">
                        ¿Ya tienes una cuenta? 
                        <a (click)="login()" class="font-medium text-primary-600 hover:underline dark:text-primary-500 dark:hover text-purple-500 cursor-pointer">Inicia Sesión</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
