::ng-deep .font-picker {
	background-color: black !important;
	top: 45px !important;
	/* position: absolute !important;
	z-index: 99999; */
}

::ng-deep .font-picker .arrow {
	display: none !important;
}

::ng-deep .font-picker .size-select {
	height: 25px !important;
}

::ng-deep .search-field,
::ng-deep .style-select,
::ng-deep .size-select {
	border-bottom: gray solid 1px !important;
}

::ng-deep .font-options {
	border-top: gray solid 1px !important;
}

::ng-deep .search-field,
::ng-deep .group-text,
::ng-deep .style-select,
::ng-deep .size-select {
	color: white !important;
}

::ng-deep .font-name {
	color: gray !important;
}

#fontPickerPhone ::ng-deep .font-picker {
	background-color: black !important;
	top: 0px !important;
}
