::ng-deep .font-picker {
	background-color: black !important;
	top: 45px !important;
}

::ng-deep .font-picker .arrow {
	display: none !important;
}

::ng-deep .font-picker .size-select {
	height: 25px !important;
}
