<nav
	class="flex flex-col fixed top-0 left-0 w-full z-50 bg-gradient-to-b from-purple-950 from-5% to-black to-99%"
>
	<div class="w-full h-15 flex items-center px-4 justify-between">
		<!-- Opciones -->
		<div class="flex flex-row align-center items-center">
			<!-- Logo -->
			<img class="h-13 w-13" src="images/logo.png" alt="Logo" />
			<!-- Nombre del proyecto -->
			<div class="flex flex-col text-white ml-2">
				<h1 class="text-sm">Nombre:</h1>
				<h2 class="text-xl font-semibold text-white">
					{{ this.fileName || "Documento" }}
				</h2>
			</div>
		</div>
		<!-- Compartir -->
		<button
			class="flex items-center md:h-7 text-white md:p-2 rounded-sm transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105 bg-purple-600 font-bold h-full"
		>
			<fa-icon size="lg" [icon]="['fas', 'share-from-square']"></fa-icon>
			<span class="ml-2 tex-nomal">Compartir</span>
		</button>
	</div>

	<!-- Opciones -->
	<div
		class="flex items-center w-full h-10 border-y-1 px-4 border-gray-900 gap-5"
	>
		<!-- Nube -->
		<button
			class="text-white hover:text-purple-300 cursor-pointer"
			title="Guardar en la nube"
		>
			<fa-icon size="xl" [icon]="['fas', 'cloud']"></fa-icon>
			<fa-icon
				class="text-green-600 absolute left-6 bottom-[7px]"
				*ngIf="false"
				size="xs"
				[icon]="['fas', 'circle-check']"
			></fa-icon>
			<fa-icon
				class="text-red-500 absolute left-6 bottom-[7px]"
				*ngIf="false"
				size="xs"
				[icon]="['fas', 'circle-xmark']"
			></fa-icon>
			<fa-icon
				class="text-black animate-spin absolute left-6 bottom-[7px]"
				*ngIf="true"
				size="xs"
				[icon]="['fas', 'spinner']"
			></fa-icon>
		</button>

		<!-- Archivo -->
		<button
			mat-button
			[disableRipple]="true"
			class="my-button"
			[matMenuTriggerFor]="archivoMenu"
		>
			<fa-icon size="lg" [icon]="['fas', 'file']"></fa-icon>
			<label class="text-sm cursor-pointer mx-1">Archivo</label>
			<fa-icon size="xs" [icon]="['fas', 'chevron-down']"></fa-icon>
		</button>

		<mat-menu #archivoMenu="matMenu" class="bg-black text-white">
			<button mat-menu-item (click)="newFile()">
				<mat-icon>note_add</mat-icon>
				<span>Nuevo…</span>
			</button>

			<button mat-menu-item (click)="openFromFile()">
				<mat-icon>folder_open</mat-icon>
				<span>Abrir desde…</span>
			</button>

			<button mat-menu-item (click)="renameFile()">
				<mat-icon>edit</mat-icon>
				<span>Renombrar</span>
			</button>
		</mat-menu>

		<!-- Exportar -->
		<button
			mat-button
			[matMenuTriggerFor]="exportarMenu"
			[disableRipple]="true"
			class="my-button"
		>
			<fa-icon size="lg" [icon]="['fas', 'file-export']"></fa-icon>
			<label class="text-sm cursor-pointer mx-1">Exportar</label>
			<fa-icon size="xs" [icon]="['fas', 'chevron-down']"></fa-icon>
		</button>
		<mat-menu #exportarMenu="matMenu" class="bg-black text-white">
			<button mat-menu-item (click)="exportPNG()">
				<mat-icon>image</mat-icon>
				<span>PNG</span>
			</button>
			<button mat-menu-item (click)="exportPDF()">
				<mat-icon>picture_as_pdf</mat-icon>
				<span>PDF</span>
			</button>
			<button mat-menu-item (click)="exportSVG()">
				<mat-icon>crop_5_4</mat-icon>
				<span>SVG</span>
			</button>
			<button mat-menu-item (click)="exportJSON()" class="flex flex-row">
				<mat-icon>data_object</mat-icon>
				<span>JSON</span>
			</button>
		</mat-menu>
	</div>
</nav>
