::ng-deep .mat-mdc-menu-content {
	background-color: black !important;
	border-radius: 5px;
	border: gray solid 1px;
}

::ng-deep .mdc-button__label {
	color: white;
}

::ng-deep .mat-mdc-menu-item {
	color: white;
}

::ng-deep .mdc-button__label:hover {
	color: #7204c1;
}

::ng-deep .mat-mdc-menu-item:hover {
	color: #7204c1;
}
