<nav
	class="flex flex-col fixed top-0 left-0 w-full z-50 bg-gradient-to-b from-purple-950 from-5% to-black to-99%"
>
	<div class="w-full h-15 flex items-center px-4 justify-between">
		<!-- Opciones -->
		<div class="flex flex-row align-center items-center">
			<!-- Logo -->
			<img class="h-10 w-10" src="images/logo.png" alt="Logo" />
			<!-- Nombre del proyecto -->
			<div class="flex flex-col text-white ml-2">
				<h1 class="text-sm">Nombre:</h1>
				<h2 class="text-xl font-semibold text-white">Documento</h2>
			</div>
		</div>
		<!-- Compartir -->
		<button
			class="flex items-center md:h-7 text-white md:p-2 rounded-sm transition duration-200 ease-in-out focus:outline-none cursor-pointer hover:scale-105 bg-purple-600 font-bold h-full"
		>
			<svg
				class="w-5 h-5"
				fill="#ffffff"
				viewBox="0 0 32 32"
				version="1.1"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"
				></g>
				<g id="SVGRepo_iconCarrier">
					<title>share</title>
					<path
						d="M0 25.472q0 2.368 1.664 4.032t4.032 1.664h18.944q2.336 0 4-1.664t1.664-4.032v-8.192l-3.776 3.168v5.024q0 0.8-0.544 1.344t-1.344 0.576h-18.944q-0.8 0-1.344-0.576t-0.544-1.344v-18.944q0-0.768 0.544-1.344t1.344-0.544h9.472v-3.776h-9.472q-2.368 0-4.032 1.664t-1.664 4v18.944zM5.696 19.808q0 2.752 1.088 5.28 0.512-2.944 2.24-5.344t4.288-3.872 5.632-1.664v5.6l11.36-9.472-11.36-9.472v5.664q-2.688 0-5.152 1.056t-4.224 2.848-2.848 4.224-1.024 5.152zM32 22.080v0 0 0z"
					></path>
				</g>
			</svg>
			<span class="ml-2 tex-nomal">Compartir</span>
		</button>
	</div>

	<!-- Opciones -->
	<div
		class="flex flex-row items-center w-full h-10 border-y-1 border-gray-900 px-4 space-x-4"
	>
		<button
			id="dropdownDefaultButton"
			data-dropdown-toggle="dropdown"
			class="text-white text-center inline-flex items-center hover:text-purple-300 cursor-pointer border-r-2 border-gray-900 pr-2"
			type="button"
		>
			Archivo
			<svg
				class="w-2.5 h-2.5 ms-3"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 10 6"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="m1 1 4 4 4-4"
				/>
			</svg>
		</button>

		<!-- Dropdown menu -->
		<div
			id="dropdown"
			class="z-10 hidden bg-black divide-y divide-gray-100 rounded-lg shadow-sm w-44"
		>
			<ul
				class="py-2 text-sm text-gray-700 dark:text-gray-200"
				aria-labelledby="dropdownDefaultButton"
			>
				<li>
					<a
						class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
						>Nuevo...</a
					>
				</li>
				<li>
					<button
						id="doubleDropdownButton"
						data-dropdown-toggle="openFrom"
						data-dropdown-placement="right-start"
						type="button"
						class="flex items-center justify-between w-full px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
					>
						Abrir desde...<svg
							class="w-2.5 h-2.5 ms-3 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 6 10"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m1 9 4-4-4-4"
							/>
						</svg>
					</button>
					<div
						id="openFrom"
						class="z-10 hidden rounded-lg shadow-sm w-44 bg-black"
					>
						<ul
							class="py-2 text-sm text-gray-700 dark:text-gray-200"
							aria-labelledby="doubleDropdownButton"
						>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Overview</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>My downloads</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Billing</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Rewards</a
								>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<button
						id="doubleDropdownButton"
						data-dropdown-toggle="openRecent"
						data-dropdown-placement="right-start"
						type="button"
						class="flex items-center justify-between w-full px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
					>
						Recientes...<svg
							class="w-2.5 h-2.5 ms-3 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 6 10"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m1 9 4-4-4-4"
							/>
						</svg>
					</button>
					<div
						id="openRecent"
						class="z-10 hidden rounded-lg shadow-sm w-44 bg-black"
					>
						<ul
							class="py-2 text-sm text-gray-700 dark:text-gray-200"
							aria-labelledby="doubleDropdownButton"
						>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Overview</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>My downloads</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Billing</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Rewards</a
								>
							</li>
						</ul>
					</div>
				</li>

				<li>
					<a
						class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
						>Guardar</a
					>
				</li>
				<li>
					<a
						class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
						>Guardar como...</a
					>
				</li>

				<li>
					<a
						class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
						>Renombrar...</a
					>
				</li>

				<li>
					<button
						id="doubleDropdownButton"
						data-dropdown-toggle="exportAs"
						data-dropdown-placement="right-start"
						type="button"
						class="flex items-center justify-between w-full px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
					>
						Exportar como...<svg
							class="w-2.5 h-2.5 ms-3 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 6 10"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m1 9 4-4-4-4"
							/>
						</svg>
					</button>
					<div
						id="exportAs"
						class="z-10 hidden rounded-lg shadow-sm w-44 bg-black"
					>
						<ul
							class="py-2 text-sm text-gray-700 dark:text-gray-200"
							aria-labelledby="doubleDropdownButton"
						>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Overview</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>My downloads</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Billing</a
								>
							</li>
							<li>
								<a
									class="block px-4 py-2 hover:bg-purple-900 text-white rounded-sm cursor-pointer"
									>Rewards</a
								>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

		<p class="text-white">Estilo</p>
		<p class="text-white">Fuente</p>
		<p class="text-white">Tamaño</p>
		<p class="text-white">Negrita</p>
		<p class="text-white">Cursiva</p>
		<p class="text-white">Subrayado</p>
		<p class="text-white">Alineación</p>
	</div>
</nav>
<div class="h-dvh w-full flex flex-row">
	<div class="h-dvh w-60 bg-black overflow-hidden border-x-1 border-gray-900">
		<div #myPalette class="h-full mt-2 p-20"></div>
	</div>

	<div #myDiagramDiv class="h-dvh w-full bg-black"></div>
</div>
